{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
	<div><h2>О проекте</h2>
		<div><a>Проект представляет из себя мини-базу фанфиков по фандому "Гарри Поттер". </a></div>
		<div><a>На данный момент в базе очень немного текстов, но вы можете предложить свой, связавшись с нами в </a><a href=https://vk.com/poliko1307>вк</a></div>
		<div><a>Мы не уверены на сколько практически полезен этот сайт с точки зрения исследований, но развлекайтесь^^</a></div>
	</div>
{% endblock %}